<link href="~/Content/templatemo_style.css" rel="stylesheet" />

@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đặt hàng thành công. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất. Xin cảm ơn</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ","Index","BookStore")
</p>
